{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<section style="background: linear-gradient(to bottom, #054a61 0%, #38031d 100%);">
    <div class="about_gradient" style="margin-top: 0px; background-image: url(/static/about-bg.jpg); text-align: center; height: 400px; background-repeat: no-repeat;
    background-size: cover;">
        <h1>About TechOcean</h1>
        <h3 style="color: #045353; font-weight: 700;">Who are we?</h3>
        <h5 style="color: white;">We are a remote E-Learning platform in India. We believe that what makes us different makes us stronger. </h5>
        <h3 style="color: #045353; font-weight: 700;">Our Goal</h3>
        <h5 style="color: white;">TechOcean5strives to create a culture that empowers all the enthusiast learners around the corner.</h5>
    </div>

    <div class="about-head" style="color: black; text-align: center; margin-top: 100px;">
        <div>
            <h1>Our AWESOME ENGINEERS Behind TechOcean</h1>
            <p style="color: rgb(87, 141, 123);">Meet our awesome team who works hard to deliver the quality content.</p>
        </div>
    </div>

    <div  class="about-content" style="text-align: center; margin-left: 130px; padding: 50px; display: grid; grid-template-columns: 33.33% 33.33% 33.33%; grid-template-rows: auto;">
        <div class="first">
            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Harsh"> -->
                <div class="card-body">
                    <h2 class="card-title">HARSH</h2><h3>ARORA</h3>
                    <h4>Backend Developer</h4>
                    <p class="card-text">Heart and Backbone of TechOcean. Handles the Backend Development, Configuration and Maintainance</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <a href="https://instagram.com"><i class="uil-icon uil uil-instagram-alt" style="font-size: 30px;"></i></a>
                    <a href="https://linkedin.com"><i class="uil-icon uil uil-linkedin" style="font-size: 30px;"></i></a>
                    <a href="https://twitter.com"><i class="uil-icon uil uil-twitter-alt" style="font-size: 30px;"></i></a>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Latika"> -->
                <div class="card-body">
                    <h2 class="card-title">LATIKA</h2><h3>BEDI</h3>
                    <h4>UI/UX Developer</h4>
                    <p class="card-text">Frontend and User Interface/User Experience Designer of TechOcean that tailores the
                        Designs to Provide You The BEST User Experience While Learning.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <a href="https://instagram.com"><i class="uil-icon uil uil-instagram-alt" style="font-size: 30px;"></i></a>
                    <a href="https://linkedin.com"><i class="uil-icon uil uil-linkedin" style="font-size: 30px;"></i></a>
                    <a href="https://twitter.com"><i class="uil-icon uil uil-twitter-alt" style="font-size: 30px;"></i></a>
                </div>
            </div>
        </div>
        <div class="third">
            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Devansh"> -->
                <div class="card-body" style="height: 323px;">
                    <h2 class="card-title">DEVANSH</h2><h3>KANDA</h3>
                    <h4>Backend Developer</h4>
                    <p class="card-text">Handles the Backend Development Majorly and SUPPORT.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <a href="https://instagram.com"><i class="uil-icon uil uil-instagram-alt" style="font-size: 30px;"></i></a>
                    <a href="https://linkedin.com"><i class="uil-icon uil uil-linkedin" style="font-size: 30px;"></i></a>
                    <a href="https://twitter.com"><i class="uil-icon uil uil-twitter-alt" style="font-size: 30px;"></i></a>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock body %}