{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}

<div style="background-color: rgb(68, 119, 111);" class="container">
  <div style=" border: 5px solid green;" class="welcome-banner jumbotron my-3">
    <h1 style="font-family: 'Roboto Slab', serif;" class=" font-italic text-warning display-4">Welcome to TechOcean</h1>
    <p class="lead">We are a remote E-Learning platform in India. We believe that what makes us different makes us
      stronger.</p>
    <hr class="my-4">
    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
    <a class="div-animate btn btn-primary btn-lg" href="/blog" role="button">Go to Blogs</a>
  </div>
</div>
<div class="container my-3">
  <h2 class=" font-italic">Some Famous blogs of Latika :</h2>
  {% for post in allPosts %}
  {% if post.author == 'Latika'%}
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}} ({{post.views}})</strong>
      <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}">{{post.title}} </a> </h3>
      <div class="mb-1 text-muted">{{post.datetime}}</div>
      <p class="card-text mb-auto">{{post.content|safe |truncatechars:300}}</p>
      <div class="my-2">
        <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
      </div>

    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock body %}