{% extends 'base.html' %}
{% block title %} BlogHome {% endblock title %}
{% block js %}


<script>
    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>
    {% endblock js %}

    {% block blogactive %} active {% endblock blogactive %}


    {% block body %}
    <div class="container my-3">
        <h2 style="text-align: center; font-size: 50px; text-decoration: underline; color: green; margin-bottom: 70px">Coding Articles by TechOcean</h2>
        {% for post in allPosts  %}
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <div style="color: #C060A1; font-size: 20px;">
                    <strong class="d-inline-block mb-2">Article  by {{ post.author }}</strong>
                </div>
                <div style="margin-left: 60px;">
                    <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}">{{ post.title }} </a> </h3>
                    <div class="mb-1 text-muted">{{ post.datetime }}</div>
                    <p class="card-text mb-auto"> <div class="preview">{{ post.content | safe | truncatechars:200}} </div></p>
                    <div class="my-2">
                        <a style="background-color: #A4BE7B;" href="/blog/{{post.slug}}" role="button" class="btn">Continue reading</a>
                    </div>
                </div>

            </div>

        </div>

        {% endfor %}
    </div>
    {% endblock body %}